{% extends "layout.html" %}

{% block main %}


<form action="{{ url_for('community.browse_topics') }}" method="get" class="searchBar">
    <input type="text" name="keyword" placeholder="Search">
</form>

<h2 class="community-heading">Topics</h2>


<div class="topics-box">
    <ul class="topic-list">
        {% for topic in topics %}
        <li class="topic-box">
            <a href="{{ url_for('community.view_topic', topic_id=topic[0], topic_name=topic[1]) }}" class="topic-link">
                <h4 class="topic-name">
                    {{ topic[1] }}
                </h4>
                <ul class="creator">
                    <li class="creator-name"><u>{{ topic[3] }}</u></li>
                </ul>
                {% if user == topic[3] %}
                    <form action="{{ url_for('community.delete_community_topic') }}" class="delete-community-form">
                        <input type="hidden" name="topic_id" value="{{ topic[0] }}">
                        <button class="delete-community-topic">Delete</button>
                    </form>
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}