{% extends "layout.html" %}


{% block main %}



<div class="searchBar">
    <form action="{{ url_for('library.search_library')}}" method="get">
        <input type="text" name="keyword" placeholder="Search">
    </form>
</div>

<h1 class="library-title">{{ title }}</h1>

<div class="review-section">
    <button class="review-button" id="reviewButton">Review</button>
    <form action="{{ url_for('library.review_page')}}" class="review-options" id="reviewOptions" method="post">
        <button class="spaced-repetition" name="spaced-repetition" value="true">With Spaced Repetition</button>
        <button class="spaced-repetition" name="spaced-repetition" value="false">Without Spaced Repetition</button>
    </form>
</div>

<div class="display-list" id="displayList">
    {% if subjects %}
        <ul class="subjects" id="subjectsList">
            {% for subject in subjects %}
                <li class="subject" data-id= "{{ subject.subject_id }}" data-type="Subject">
                    <a href="{{ url_for('library.subject', subject_name=subject.getName()) }}" class="link" id="link">{{ subject.getName() }}</a>
                    <form action="{{ url_for('library.edit_subject')}}" method="post" class="edit-form">
                        <input type="text" id="newSubjectName" name="new-subject-name" value="{{ subject.getName() }}" autofocus>
                        <input type="hidden" id="oldSubjectName" name="old-subject-name" value="{{ subject.getName() }}">
                    </form>
                    <div class="options-menu">
                        <button class="edit-button">Edit</button>
                        <form action="{{ url_for('library.delete')}}" class="delete-form" id="deleteForm" method="post" onsubmit="return confirm('Are you sure you want to delete this? Everything inside will be deleted too.');">
                            <input type="hidden" name="type" value="subject">
                            <input type="hidden" name="id" value="{{ subject.subject_id }}">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                        <form action="{{ url_for('community.upload_subject')}}" method="post">
                            <input type="hidden" name="name" value="{{ subject.getName() }}">
                            <button type="submit" class="upload-button">Upload to community</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if topics %}
        <ul class="topics" id="topicsList">
            {% for topic in topics %}
                <li class="topic" data-id="{{ topic.topic_id }}" data-type="Topic">
                    <a href="{{ url_for('library.topic', subject_name=current_subject.getName(), topic_name=topic.getName()) }}" class="link" id="link">{{ topic.getName() }}</a>
                    <form action="{{ url_for('library.edit_topic')}}" method="post" class="edit-form">
                        <input type="text" id="newTopicName" name="new-topic-name" value="{{ topic.getName() }}" autofocus>
                        <input type="hidden" id="oldTopicName" name="old-topic-name" value="{{ topic.getName() }}">
                    </form>
                    <div class="options-menu">
                        <button class="edit-button">Edit</button>
                        <form action="{{ url_for('library.delete') }}" class="delete-form" id="deleteForm" method="post" onsubmit="return confirm('Are you sure you want to delete this? Everything inside will be deleted too.');">
                            <input type="hidden" name="type" value="topic">
                            <input type="hidden" name="id" value="{{ topic.topic_id }}">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                        <form action="{{ url_for('community.upload_topic') }}" method="post">
                            <input type="hidden" name="name" value="{{ topic.getName() }}">
                            <button type="submit" class="upload-button">Upload to community</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if flashcards %}
        <ul class="flashcards" id="flashcardsList">
            {% for flashcard in flashcards %}
                <li class="flashcard" data-id="{{ flashcard.flashcard_id }}" data-type="Flashcard">
                    <div class="flashcard-content">
                        <div class="link" id="link">{{ flashcard.getName() }}</div>
                        <div class="flashcard-answer" id="flashcardAnswer">{{ flashcard.getBack()}}</div>
                    </div>
                    <form action="{{ url_for('library.edit_flashcard')}}" method="post" class="edit-form">
                        <input type="text" id="newFlashcardFront" name="new-flashcard-front" value="{{ flashcard.getName() }}" autofocus>
                        <input type="text" id="newFlashcardBack" name="new-flashcard-back" value="{{ flashcard.getBack() }}">
                        <input type="hidden" id="oldFlashcardFront" name="old-flashcard-front" value="{{ flashcard.getName() }}">
                    </form>
                    <div class="options-menu" id="optionsMenu">
                        <button class="reveal-flashcard" id="revealFlashcard">Show Answer</button>
                        <button class="edit-button">Edit</button>
                        <form action="{{ url_for('library.delete')}}" id="deleteForm" method="post" onsubmit="return confirm('Are you sure you want to delete this?');">
                            <input type="hidden" name="type" value="flashcard">
                            <input type="hidden" name="id" value="{{ flashcard.flashcard_id }}">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if type == "library" %}
    <button class="new-subject-button" id="newSubjectButton">
        + new subject
    </button>
    <form id="addForm" class="add-form" method="post">
        <input type="text" id="newSubject" name="new-subject" placeholder="Subject Name" autofocus>
    </form>
    {% endif %}
    {% if type == "subject" %}
    <button class="new-subject-button" id="newSubjectButton">
        + new topic
    </button>
    <form id="addForm" class="add-form" method="post">
        <input type="text" id="newTopic" name="new-topic" placeholder="Topic Name" autofocus>
    </form>
    {% endif %}
    {% if type == "topic" %}
    <button class="new-subject-button" id="newSubjectButton">
        + new flashcard
    </button>
        <form id="addForm" class="add-form" method="post">
            <input type="text" id="newFlashcardFront" name="new-flashcard-front" placeholder="Front" autofocus>
            <input type="text" id="newFlashcardBack" name="new-flashcard-back" placeholder="Back">
        </form>
    {% endif %}
</div>

<script src="/static/library.js/"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

{% endblock %}